[mysqld]
user							= mysql
pid-file						= /var/run/mysqld/mysqld.pid
socket							= /var/run/mysqld/mysqld.sock
tmpdir							= /tmp
datadir							= /data
log_error						= /log/mysql.log
binlog_format					= ROW
default_storage_engine			= InnoDB
innodb_autoinc_lock_mode		= 2
innodb_locks_unsafe_for_binlog	= 1

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
# * WSREP cluster configuration must be placed here
#
!includedir /conf/
